body{


}
.header,h1
{

  font-family: sans-serif;
  font-size: 50px;
  letter-spacing: 2px;

  margin-left:40px;
  margin-top:20px;
  width:200px;
 position:absolute;
  border : 1px grey;
  padding:20px;
}

.nav,ul
{

position:absolute;
margin-left:600px;
margin-top: 60px;

}
li
{
  display: inline;
  font-size: 20px;
  padding:10px;
}

.image1{
  position:relative;
  margin-top: 0px;
}
