/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
  text-align: center;
}
#features img {
  margin: 0px 0px 20px;
}
#image{
  margin-right: 5px;
}



/* --------------------------------------
   Typography
   -------------------------------------- */
   body{
     -webkit-font-smoothing: antialiased;
   }
   .alert{
     margin-top: 20px;
   }
.well{
  margin-top: 10px;
}
.well .page-header{
  margin-top: 0px;
}
.well .page-header h1{
  margin-top: 0px;
}


/* --------------------------------------
   Navbar
   -------------------------------------- */
  # searchinput {
     width:200px;
   }
   . navbar-brand{
     padding:13px 15px;
   }

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel { margin-top: 60px;
width:100%;}


#myCarousel .item{
  height:400px;
}
#slide1{
  background: url('../../images/carousel_medium_01.jpg') top center no-repeat;
}
#slide2{
  background: url('../../images/carousel_medium_02.jpg')top center no-repeat;
}
#slide3{
  background: url('../../images/carousel_medium_03.jpg')top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #carousel-caption h4{
    font-size: 20px;
  }
  #carousel-caption p{
    font-size: 32px;
  }
  #myCarousel .item{
    height:300px;
  }
  #slide1{
    background: url('../../images/carousel_small_01.jpg');
  }
  #slide2{
    background: url('../../images/carousel_small_02.jpg');
  }
  #slide3{
    background: url('../../images/carousel_small_03.jpg');
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  #myCarousel .item{
    height:400px;
  }
  #slide1{
    background: url('../../images/carousel_large_01.jpg') top center no-repeat;
  }
  #slide2{
    background: url('../../images/carousel_large_02.jpg')top center no-repeat;
  }
  #slide3{
    background: url('../../images/carousel_large_03.jpg')top center no-repeat;
  }
